@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

$fontFamilyHeader: "Droid Arabic Kufi", serif;

* {
 box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
  }


[class*=col-] {
  float: right;
}

body {
  margin:0;
  padding:0;
}

 a{
  text-decoration:none;
 }

 p,li{
   font-size: 1.5vw;
   font-family: "Droid Arabic Naskh", serif;
 }
 
 %h3{
  font-family:$fontFamilyHeader;
  font-size: 2vw;
  color: #787878;
  margin-right:.6vw;
  display:inline;
 }
 
 hr{
  color:#787878;
  background-color:#787878;
 }


@mixin flexContainer{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}

/*--------------------------------------home page-----------------------------------------------*/
.haeder {
  background-color:#D3D3D3;
  min-width: 100%;
  position:fixed;
  z-index: 1;
  
  img {
   float: right;
   max-width: 21%;
   margin: 0 auto;
  }

  ul {
  list-style-type: none;

  li {
   float: right;
   margin: 0 auto;
   margin-right: -30px ;

   a:hover {
    border-bottom: .3vw solid #909090;
   }
  }

  li,a{
   display: inline-block;
   color: black;
   text-align: center;
   font-size: 1.5vw;
   font-weight: bold;
   font-family: $fontFamilyHeader;
   padding: 1vw 3vw;
  }


 }

}


.col-3 {
  width: 100%;
  background-color:white;
  padding:22vw ;
}

.manualInfoCol{
 @include flexContainer;
  position:absolute;
	  
  div{
	text-align:right;
	background-color:black;
  }
	  
  #manual{
   float:right;
   max-width:30%;
   margin-left:10vw;
   margin-top:19vw;
	 }
	  
   #info{
    float:left;
	@extend #manual;
	 }
	 
	h3{
	 @extend %h3;
	 }
   b{
     font-size:.9vw; 
     }

   a{
    color: #787878;
   }
  
   p,li{
    color:white;
    margin-right:.8em;
  }
 
  li{
   list-style-type: circle;
   list-style-position: inside;
   direction:rtl;
  }
 
}

.col-4 {
  width: 100%;
  background-color:#ADD8E6;
  padding-bottom:3em;
  padding-top:17em;
  margin-top:-9vw;
  
  hr{
   width:40%;
   float:right;
   border:.3vw solid;
  }
  
 .viedo {
  @include flexContainer;
  gap:4vw;
  margin-top:3vw;
  
  #right{
    float:right;
  
  }
  
  #left{
   float:left;
 }
}

  h3 {
   text-align:right;
   margin-left:80vw;
   @extend %h3;
  }
  
}

.col-5 {
  width: 100%;
  background-color: #F0F8FF;
  padding:3vw;
  
  h3{ 
   @extend %h3;
  }
  
 .about{
   display:flex;
   gap:2vw;
   
  div {
   width:30%;
   text-align: right;
  }
  
 }

  .contact img {
    float: right;
    max-width: 13%;
  }
  
  a {
   color: black;
  }
 
}

footer {
 width: 100%;
 background-color: black;
 color: white;

 span {
  margin: 1.5vw;
 }

 .right {
   float: right;
   font-size: 1.5vw;
   font-family: "Droid Arabic Naskh", serif;
 }

 .left img {
  padding-top: .5vw;
  margin: 1vw;
  max-width: 3.5%;
  height:auto;
 }

}


/*--------------------------------------page two style------------------------------------------------*/
$input-marign:.6vw auto;
$input-padding:.3vw;
$hoverBackgroundColor:#ddd;

label,input,select,h3{
 font-family:$fontFamilyHeader;
 margin:$input-marign;
 display:inline-block;
 color:black;
 width:60%;
 font-size:.9em;
 padding:$input-padding;
 text-align:right;
  }
  
select{
 font-size:.8em;
}

.tabLinkContainer{
 display:inline-block;
 width:60vw;
 
 .tab {
  float: right;
  border: .1vw solid #ccc;
  background-color: #f1f1f1;
  width: 25%;
  height:100%;
  
  button {
   font-family: $fontFamilyHeader;
   font-size:.9em;
   display: block;
   background-color: inherit;
   color: black;
   padding: 2vw 1vw;
   width: 100%;
   border: none;
   outline: none;
   text-align: center;
   cursor: pointer;
   transition: 0.3s;
   
   &:hover {
    background-color: $hoverBackgroundColor;
   }
   &.active {
    background-color: #ccc;
   }
}

}

 .tabcontent {
  display:none;
  float: right;
  padding: 0vw 2vw;
  border: 1px solid #ccc;
  width: 75%;
  border-right: none;
  text-align:right;
  height:100%;
  overflow:auto;
  
  button{
   font-family:$fontFamilyHeader;
   width:30%;
   margin:$input-marign;
   padding:$input-padding;
   float:left;
  }
	
  table{
   width:100%;
   text-align:right;
			
  .paddingBetweenCols td{
	padding:0.1vw;
	}
	
   td{
	font-family:"Droid Arabic Naskh", serif;
	}
   th{
	font-family:$fontFamilyHeader;
	font-weight:300;
	font-size:1em;
	color: #787878;
	}
		
}

}

  #stepOne{
	  
   div{
	display:inline-block;
	margin-left:17vw;
  }
   #refreshButton{
	 width:22%;
	 float:left;
	 
	img{
	 width:40%;
	}
  }

}

  #stepThree{
	  
  .row{
    font-size:.9em;
    float:right;
    white-space:nowrap;

   .col-sm-4{
     direction:rtl;
     margin: 0 -1.5vw 0 4vw;
	 
	 input{
	  margin-left:-2vw;
	 }
	 
	}
		
  }
  
  #paidInstitute{
   display:none;
  }
		
  .dropbtn {
   background-color: #04AA6D;
   color: white;
   font-size: 16px;
   border: none;
   cursor: pointer;
   margin-right:-3vw;
   text-align:right;
   padding:1vw 5vw;
   background-color: #f1f1f1;
   color:black;	
   
   &:hover,&:focus {
    background-color:$hoverBackgroundColor;
  }
  
 }
 
  #myInput {
   font-size:1em;
   border: none;
   margin:1vw;
  
   &:focus {
    outline: .3vw solid $hoverBackgroundColor;
	 }
 }

  .dropdown {
   position: relative;
   display: inline-block;
   
   a:hover {
	background-color:$hoverBackgroundColor;
	}
	
 }

  .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f6f6f6;
   overflow: auto;
   border: 1px solid #ddd;
   z-index: 1;
   margin:4vw 5vw 9vw -19vw;
  
   a{
    color: black;
    padding: 1vw 3vw;
    text-decoration: none;
    display: block;
  }
 
}

  .show{
    display: block;
	} 
	  
}

  #stepFour{
	
   .termAndCondtionWarpper {
    display: flex;
    direction: rtl;
    margin-top:1.5vw;
    margin-bottom:1.5vw;
    font-size: .9em;
    font-family:$fontFamilyHeader;
   
    #termAndCondtion{
     margin-left:1.5vw;
   }

 }

}

  #stepFive{
	 
   th{
    float:right;
	 }
   td{
    float:left;
	 }
	 
   }

}


/*page 3 */
 .result{
   text-align:center;
   
   input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
  }
  
 }
	
  
/*page 4 */
 .paymentContainer{
   direction:rtl;
  
   .paymentRow{
    text-align:center;
	}
	
    td,li{
	 font-family:"Droid Arabic Naskh", serif;
	 font-size:1.4vmax;
	
	}
		  
	h3,h4,h5{
	 font-family:$fontFamilyHeader;
	 font-weight:300;
	 font-size:1.2em;
	 color: #787878;
	 white-space:nowrap;
	}
	
	a{
	 text-decoration:none;
	 color: #787878;
	}
	#customers{
	 a{
	  float:left;
	 }
	}
	
	table{
	 border-collapse:separate;
	 border-spacing:2.5vw;
	}
	  
	ul{
	 list-style-type: circle;
	 width:150%;
	 }
	 
	.w3-third{
     font-family:$fontFamilyHeader;
     font-size:.8em;
	 text-align:right;
  }
	  
 }
 
@media screen and (min-width: 800px) {
 #phoneDropdown{
  display:none;
 }
}

/*phone design*/

@media screen and (max-width: 800px) {
 .largeScreenHeader{
  display:none;
  }
 #phoneDropdown{
  position: relative;
  display: inline-block;
 }
 
 .menueIcon{
  width: 7vw;
  height: .8vw;
  background-color: black;
  margin: 1vw;
  }
  
 .phoneRow{
  display:flex;
  flex-direction:column;
  min-height:100vh;
  
 .col-3{
	 flex:1;
 }
 
 }
 
 .dropbtn {
  background-color:transparent;
  color: white;
  margin:3vw 5vw;
  border: none;
  
  &:hover,&:focus {
  background-color: #909090;
}

}

 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 20vw;
  white-space:nowrap;
  z-index: 1;
  overflow:hidden;
  
  ul{
  a {
  display: inline-block;
  margin:0 7vw;
  font-size:2em;
  }
  }
}

 .show {display: block;}
 
  label,input,select{
   width:90%;
  }
  
 .manualInfoCol{	  
  li{
   white-space:nowrap;
   overflow:hidden;
   text-overflow:ellipsis;
   
   &:hover{
	   overflow:auto;
   }
   
  }
  }
  
 .col-4{
  padding-top:20%;
  }
  
  iframe{
   width:60%;
   height:90%;
   margin:0 20vw;
   border:none;
 }
 footer{
  
  span{
	margin:3.5vw;
	}
 }
 
 /*page 2*/
 .PhRow{
  footer{
   bottom:0;
   position:fixed;
	 }
 }
 
 .tabLinkContainer{
  width:70vw;
  
  .tab {
   height:50%;
   
   button {
    font-size:.8em;
  }
 }
 
 .tabcontent {
  height:50%;

  h3{
   white-space:nowrap; 
   width:100%;	
  }
  
  button{
  min-width:40%;
  font-size:.7em;
  margin:2vw;
  }
  
  table{
   th{
	white-space:nowrap;
	padding:1vw;
	font-size:3.9vw;
	font-weight:600;
	}
  }
}
 #stepOne{
  div{
   display:flex;
   justify-content:flex-end;
   flex-wrap:no-wrap;
  }

  #refreshButton{
    margin-top:4vw;
  }

}	

  #stepThree{
   .col-sm-4,input{
     all:revert;
  }
 
   label{
	 margin-right:2vw;
	 }
	
  .dropbtn {
   padding-right:15vw;
   margin-right:-10vw;
  	}
	
  .dropdown-content {
	width:180%;
    margin-right:-45vw;
	
   a{
	white-space:normal;
	margin:0vw;
   }

}


}

  #stepFour{
  .termAndCondtionWarpper{
   font-size:3.9vw;
   }
   }
   
 }
 
 .paymentContainer{
  #textPyment{
   li{
	margin-right:-35px;
	}
}

 #pointSale{
  #customers{
   @include flexContainer;
   
   th{
	font-size:.8em;
	}
	
  } 
 }
 
 }

 
}
