@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url(https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*=col-] {
  float: right;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p, li {
  font-size: 1.5vw;
  font-family: "Droid Arabic Naskh", serif;
}

.col-5 h3, .col-4 h3, .manualInfoCol h3 {
  font-family: "Droid Arabic Kufi", serif;
  font-size: 2vw;
  color: #787878;
  margin-right: 0.6vw;
  display: inline;
}

hr {
  color: #787878;
  background-color: #787878;
}

/*--------------------------------------home page-----------------------------------------------*/
.haeder {
  background-color: #D3D3D3;
  min-width: 100%;
  position: fixed;
  z-index: 1;
}
.haeder img {
  float: right;
  max-width: 21%;
  margin: 0 auto;
}
.haeder ul {
  list-style-type: none;
}
.haeder ul li {
  float: right;
  margin: 0 auto;
  margin-right: -30px;
}
.haeder ul li a:hover {
  border-bottom: 0.3vw solid #909090;
}
.haeder ul li, .haeder ul a {
  display: inline-block;
  color: black;
  text-align: center;
  font-size: 1.5vw;
  font-weight: bold;
  font-family: "Droid Arabic Kufi", serif;
  padding: 1vw 3vw;
}

.col-3 {
  width: 100%;
  background-color: white;
  padding: 22vw;
}

.manualInfoCol {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
}
.manualInfoCol div {
  text-align: right;
  background-color: black;
}
.manualInfoCol #manual, .manualInfoCol #info {
  float: right;
  max-width: 30%;
  margin-left: 10vw;
  margin-top: 19vw;
}
.manualInfoCol #info {
  float: left;
}
.manualInfoCol b {
  font-size: 0.9vw;
}
.manualInfoCol a {
  color: #787878;
}
.manualInfoCol p, .manualInfoCol li {
  color: white;
  margin-right: 0.8em;
}
.manualInfoCol li {
  list-style-type: circle;
  list-style-position: inside;
  direction: rtl;
}

.col-4 {
  width: 100%;
  background-color: #ADD8E6;
  padding-bottom: 3em;
  padding-top: 17em;
  margin-top: -9vw;
}
.col-4 hr {
  width: 40%;
  float: right;
  border: 0.3vw solid;
}
.col-4 .viedo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4vw;
  margin-top: 3vw;
}
.col-4 .viedo #right {
  float: right;
}
.col-4 .viedo #left {
  float: left;
}
.col-4 h3 {
  text-align: right;
  margin-left: 80vw;
}

.col-5 {
  width: 100%;
  background-color: #F0F8FF;
  padding: 3vw;
}
.col-5 .about {
  display: flex;
  gap: 2vw;
}
.col-5 .about div {
  width: 30%;
  text-align: right;
}
.col-5 .contact img {
  float: right;
  max-width: 13%;
}
.col-5 a {
  color: black;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
}
footer span {
  margin: 1.5vw;
}
footer .right {
  float: right;
  font-size: 1.5vw;
  font-family: "Droid Arabic Naskh", serif;
}
footer .left img {
  padding-top: 0.5vw;
  margin: 1vw;
  max-width: 3.5%;
  height: auto;
}

/*--------------------------------------page two style------------------------------------------------*/
label, input, select, h3 {
  font-family: "Droid Arabic Kufi", serif;
  margin: 0.6vw auto;
  display: inline-block;
  color: black;
  width: 60%;
  font-size: 0.9em;
  padding: 0.3vw;
  text-align: right;
}

select {
  font-size: 0.8em;
}

.tabLinkContainer {
  display: inline-block;
  width: 60vw;
}
.tabLinkContainer .tab {
  float: right;
  border: 0.1vw solid #ccc;
  background-color: #f1f1f1;
  width: 25%;
  height: 100%;
}
.tabLinkContainer .tab button {
  font-family: "Droid Arabic Kufi", serif;
  font-size: 0.9em;
  display: block;
  background-color: inherit;
  color: black;
  padding: 2vw 1vw;
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}
.tabLinkContainer .tab button:hover {
  background-color: #ddd;
}
.tabLinkContainer .tab button.active {
  background-color: #ccc;
}
.tabLinkContainer .tabcontent {
  display: none;
  float: right;
  padding: 0vw 2vw;
  border: 1px solid #ccc;
  width: 75%;
  border-right: none;
  text-align: right;
  height: 100%;
  overflow: auto;
}
.tabLinkContainer .tabcontent button {
  font-family: "Droid Arabic Kufi", serif;
  width: 30%;
  margin: 0.6vw auto;
  padding: 0.3vw;
  float: left;
}
.tabLinkContainer .tabcontent table {
  width: 100%;
  text-align: right;
}
.tabLinkContainer .tabcontent table .paddingBetweenCols td {
  padding: 0.1vw;
}
.tabLinkContainer .tabcontent table td {
  font-family: "Droid Arabic Naskh", serif;
}
.tabLinkContainer .tabcontent table th {
  font-family: "Droid Arabic Kufi", serif;
  font-weight: 300;
  font-size: 1em;
  color: #787878;
}
.tabLinkContainer #stepOne div {
  display: inline-block;
  margin-left: 17vw;
}
.tabLinkContainer #stepOne #refreshButton {
  width: 22%;
  float: left;
}
.tabLinkContainer #stepOne #refreshButton img {
  width: 40%;
}
.tabLinkContainer #stepThree .row {
  font-size: 0.9em;
  float: right;
  white-space: nowrap;
}
.tabLinkContainer #stepThree .row .col-sm-4 {
  direction: rtl;
  margin: 0 -1.5vw 0 4vw;
}
.tabLinkContainer #stepThree .row .col-sm-4 input {
  margin-left: -2vw;
}
.tabLinkContainer #stepThree #paidInstitute {
  display: none;
}
.tabLinkContainer #stepThree .dropbtn {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-right: -3vw;
  text-align: right;
  padding: 1vw 5vw;
  background-color: #f1f1f1;
  color: black;
}
.tabLinkContainer #stepThree .dropbtn:hover, .tabLinkContainer #stepThree .dropbtn:focus {
  background-color: #ddd;
}
.tabLinkContainer #stepThree #myInput {
  font-size: 1em;
  border: none;
  margin: 1vw;
}
.tabLinkContainer #stepThree #myInput:focus {
  outline: 0.3vw solid #ddd;
}
.tabLinkContainer #stepThree .dropdown {
  position: relative;
  display: inline-block;
}
.tabLinkContainer #stepThree .dropdown a:hover {
  background-color: #ddd;
}
.tabLinkContainer #stepThree .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  margin: 4vw 5vw 9vw -19vw;
}
.tabLinkContainer #stepThree .dropdown-content a {
  color: black;
  padding: 1vw 3vw;
  text-decoration: none;
  display: block;
}
.tabLinkContainer #stepThree .show {
  display: block;
}
.tabLinkContainer #stepFour .termAndCondtionWarpper {
  display: flex;
  direction: rtl;
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
  font-size: 0.9em;
  font-family: "Droid Arabic Kufi", serif;
}
.tabLinkContainer #stepFour .termAndCondtionWarpper #termAndCondtion {
  margin-left: 1.5vw;
}
.tabLinkContainer #stepFive th {
  float: right;
}
.tabLinkContainer #stepFive td {
  float: left;
}

/*page 3 */
.result {
  text-align: center;
}
.result input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

/*page 4 */
.paymentContainer {
  direction: rtl;
}
.paymentContainer .paymentRow {
  text-align: center;
}
.paymentContainer td, .paymentContainer li {
  font-family: "Droid Arabic Naskh", serif;
  font-size: 1.4vmax;
}
.paymentContainer h3, .paymentContainer h4, .paymentContainer h5 {
  font-family: "Droid Arabic Kufi", serif;
  font-weight: 300;
  font-size: 1.2em;
  color: #787878;
  white-space: nowrap;
}
.paymentContainer a {
  text-decoration: none;
  color: #787878;
}
.paymentContainer #customers a {
  float: left;
}
.paymentContainer table {
  border-collapse: separate;
  border-spacing: 2.5vw;
}
.paymentContainer ul {
  list-style-type: circle;
  width: 150%;
}
.paymentContainer .w3-third {
  font-family: "Droid Arabic Kufi", serif;
  font-size: 0.8em;
  text-align: right;
}

@media screen and (min-width: 800px) {
  #phoneDropdown {
    display: none;
  }
}
/*phone design*/
@media screen and (max-width: 800px) {
  .largeScreenHeader {
    display: none;
  }

  #phoneDropdown {
    position: relative;
    display: inline-block;
  }

  .menueIcon {
    width: 7vw;
    height: 0.8vw;
    background-color: black;
    margin: 1vw;
  }

  .phoneRow {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .phoneRow .col-3 {
    flex: 1;
  }

  .dropbtn {
    background-color: transparent;
    color: white;
    margin: 3vw 5vw;
    border: none;
  }
  .dropbtn:hover, .dropbtn:focus {
    background-color: #909090;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 20vw;
    white-space: nowrap;
    z-index: 1;
    overflow: hidden;
  }
  .dropdown-content ul a {
    display: inline-block;
    margin: 0 7vw;
    font-size: 2em;
  }

  .show {
    display: block;
  }

  label, input, select {
    width: 90%;
  }

  .manualInfoCol li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .manualInfoCol li:hover {
    overflow: auto;
  }

  .col-4 {
    padding-top: 20%;
  }

  iframe {
    width: 60%;
    height: 90%;
    margin: 0 20vw;
    border: none;
  }

  footer span {
    margin: 3.5vw;
  }

  /*page 2*/
  .PhRow footer {
    bottom: 0;
    position: fixed;
  }

  .tabLinkContainer {
    width: 70vw;
  }
  .tabLinkContainer .tab {
    height: 50%;
  }
  .tabLinkContainer .tab button {
    font-size: 0.8em;
  }
  .tabLinkContainer .tabcontent {
    height: 50%;
  }
  .tabLinkContainer .tabcontent h3 {
    white-space: nowrap;
    width: 100%;
  }
  .tabLinkContainer .tabcontent button {
    min-width: 40%;
    font-size: 0.7em;
    margin: 2vw;
  }
  .tabLinkContainer .tabcontent table th {
    white-space: nowrap;
    padding: 1vw;
    font-size: 3.9vw;
    font-weight: 600;
  }
  .tabLinkContainer #stepOne div {
    display: flex;
    justify-content: flex-end;
    flex-wrap: no-wrap;
  }
  .tabLinkContainer #stepOne #refreshButton {
    margin-top: 4vw;
  }
  .tabLinkContainer #stepThree .col-sm-4, .tabLinkContainer #stepThree input {
    all: revert;
  }
  .tabLinkContainer #stepThree label {
    margin-right: 2vw;
  }
  .tabLinkContainer #stepThree .dropbtn {
    padding-right: 15vw;
    margin-right: -10vw;
  }
  .tabLinkContainer #stepThree .dropdown-content {
    width: 180%;
    margin-right: -45vw;
  }
  .tabLinkContainer #stepThree .dropdown-content a {
    white-space: normal;
    margin: 0vw;
  }
  .tabLinkContainer #stepFour .termAndCondtionWarpper {
    font-size: 3.9vw;
  }

  .paymentContainer #textPyment li {
    margin-right: -35px;
  }
  .paymentContainer #pointSale #customers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .paymentContainer #pointSale #customers th {
    font-size: 0.8em;
  }
}

/*# sourceMappingURL=style.css.map */
